<div>
  <nav>
    <a href="/" {% if page.url == "/" %}style="color: green;"{% endif %}>
      Home
    </a>
    &emsp;
    &ensp;
    <a href="/about/index.html" {% if page.url == "/about/index.html" %}style="color: green;"{% endif %}>
      About
    </a>
    &emsp;
    &ensp;
    <a href="/tryhackme/index.html" {% if page.url == "/tryhackme/index.html" %}style="color: green;"{% endif %}>
      TryHackMe
    </a>
    &emsp;
    &ensp;
    <a href="/overthewire/index.html" {% if page.url == "/overthewire/index.html" %}style="color: green;"{% endif %}>
      OverTheWire
    </a>
  </nav>
</div>